PORT=8080
ENV=development

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=

CLIENT_URL=http://localhost:5173

# MongoDB
MONGO_URI=mongodb://localhost:27017
DB_NAME=developer_guide_db

# JWT
JWT_SECRET=
